<section class="edit-movie" fxLayout fxLayoutAlign="center center">
    <form [formGroup]="movieUpdateForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-subtitle>
                        <mat-form-field class="movie-input">
                            <label>
                                <input type="text"
                                       matInput
                                       placeholder="Id"
                                       formControlName="id"
                                       [value]="id"
                                />
                            </label>
                        </mat-form-field>
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        <mat-form-field class="movie-input">
                            <label>
                                <input type="number"
                                       matInput
                                       placeholder="Version"
                                       formControlName="version"
                                       [(ngModel)]="version"
                                />
                            </label>
                        </mat-form-field>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-form-field class="movie-input">
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Title"
                               formControlName="title"
                               [(ngModel)]="title"
                               [value]="title"
                        />
                    </label>
                </mat-form-field>
                <mat-form-field class="movie-input">
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Country"
                               formControlName="country"
                               [(ngModel)]="country"
                               [value]="country"

                        />
                    </label>
                </mat-form-field>
                <mat-form-field class="movie-input">
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Launch"
                               formControlName="launch"
                               [(ngModel)]="launch"
                        />
                    </label>
                </mat-form-field>
                <mat-form-field class="movie-input">
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Category"
                               formControlName="category"
                               [(ngModel)]="category"
                               [value]="category"
                        />
                    </label>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a mat-button>Cancel</a>
                <button type="submit" mat-button [disabled]="movieUpdateForm.invalid">
                    Save
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>

